/* estilo principal*/

body {
    
    margin: 0;
    background-color: rgb(131, 131, 131);
    
}

/*estilo de navegador*/

.container-top {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    position: fixed;
    display: flex;
    background: rgb(189, 190, 192);
    justify-content: space-between;
    padding: 25px;
    width: 100%;
    z-index: 1;  
}

.left-side {
    display: flex;
}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px ;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.spacer{
    width: 100%;
}

.brand {
    padding-right: 20px;
}


/*estilo de imagenes*/

.content-wrapper {
    padding-top: 3%;
}



.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.logo-wrapper a > img {
    width: 100%;
    margin-bottom: 20px;
}

.img-text-wrapper{
    transition: 1s;
    font-weight: 600;
    color: transparent;
    width: 100%;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightskyblue;
    width: 80%;
}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* texto en grid*/

.text-wrapper {
    color: rgb(70, 70, 70);
}

.text-wrapper-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
}

#text-title {
    font-size: 150%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.title {
    text-align: center;
    font-family: monospace, sans-serif;
    text-transform: uppercase;
}






/*Pie de pagina*/

.container-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    
    
    
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(186, 189, 190);
}

.footer-wrapper > .left-side-bottom > div {
    margin-right: 20px ;
    font-size: 0.9em;
    text-transform: uppercase;
}



.footer-wrapper > .left-side-bottom {
    height: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}

.footer-wrapper > .right-side-bottom {
    height: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}

.container-bottom > div > div a {
    color: rgb(160, 151, 155);
    text-decoration: none;
    transition: color 0.5s;
}

.container-bottom > div > div a:hover {
    border-bottom: 1px solid black;
}

.container-bottom > div > div a:hover {
    color: black;
}

.center-side-bottom iframe {
    height: 100%;
    width: 100%;
}

